body {
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    font-family: 'Arial', sans-serif;
}

#game{
    width: 800px;
    height: 500px;
    border: 1px solid gray;
    background-color: black;
}

/* #player {
    background-color: aliceblue;
} */